/* global styling */

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
}

a{
    font-weight: bolder;
    text-decoration: none;
}


h2{
    font-size:22px;
    font-weight: bolder;
}



/* header */

header{
    display: flex;
    justify-content: end;
    padding-right: 17px;
}
/* end of header */


/* end of global styling */



/* home page */


/* top page */
.top-page, .terms{
    /* background-color: grey; */
    background-color: #0AAAA0;
    /* padding: 10px; */
    /* margin-top: 7px; */
    /* border-radius: 5px; */
}
.top-page ul{
    padding: 09px;
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin-bottom: 0px;
}
.top-page ul li a{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    padding: 5px;
    margin: 10px;
    font-weight: bolder;
}

.top-page ul li a:hover{
    cursor: pointer;
    /* color: violet; */
    opacity: 0.7;
}
/* end of top page */


/* terms and condition */

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2px;
    background-color: #0AAAA0;
}
.primary-navigation ul li {
    list-style: none;
    margin: 16px 0 16px 0;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    text-decoration: none;
    text-align: center;
}
nav.primary-navigation li a {
    text-decoration: none;
    color: white;
}
nav.primary-navigation li a:hover {
    opacity: 0.7;
}
nav.primary-navigation li:hover {
    cursor: pointer;
}

.primary-navigation ul li:hover
{
    visibility: visible;
    opacity: 1;
    box-shadow: 0px 3px 5px -1px rgb(111, 71, 71);
}




/* new post */

nav .new-post{
    padding: 10px;
    box-sizing: border-box;
    /* background-image: linear-gradient(to left  to right(blue), red); */
}

nav .new-post a{
    color: #0AAAA0;
    text-decoration: none;
    font-weight: bolder;
    text-transform: uppercase;
}

nav .new-post{
    /* background-color: #fff; */
    border-radius: 5px;
    margin: 5px;

}
.author-post-topic{
    margin-left: 5px;
}

.new-post button{
    border: 1.2px solid #ccc;
    border-radius: 4px;
    padding: 8px;
}


nav .new-post a:hover{
    opacity: 0.7;
    color: #0AAAA0;
}


/* end of new post */

/* end of terms and conditions */


/* main page left box content */

.left-box-content{
    margin: 22px 8px 0 0;
}

.left-top-box h2{
    color: #030202;
    font-size: x-large;
}

.left-top-box{
   
    border-radius: 10px;
    padding: 20px;
    /* border-style:ridge; */
    background-color: #66BFBF;
}

.left-top-box hr{
    display: block;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(190,190,190,0), rgba(255,255,255,0.75), rgba(190,190,190,0));
}

.left-top-box ul li{
    list-style-image: linear-gradient(to left bottom, rgb(232, 218, 218), rgb(140, 154, 13));
    margin-left: 5px;
    padding: 5px;
    max-width: fit-content;
}

.left-top-box ul li a{
    /* margin: 10px; */
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

.left-top-box ul li a:hover{
    text-decoration: underline;
}

.left-down-box{
    border-radius: 8px;
    padding: 20px;
    margin:50px 0px;
    background-color:#66BFBF;
}

.left-down-box h2{
    color: #030202;
    font-size: x-large;
}

.left-down-box li{
    margin-top: 05px;
    font-size: 1.1rem;
    color: white;
}


.left-down-box ol li a{
    color: whitesmoke;
}

.left-down-box hr{
    display: block;
    border: 0;
    height: 1px;
}
/* end of main page left box content */

/* search box */

/* .search-box{
    border: 1px solid #52057b;
    margin-top: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px #52057b;
}

.search-box select, input, button{
    padding: 10px;
    font-size: 1rem;
}

@media screen and (max-width: 460px){
    .search-box select, input, button{
        min-width: 300px;
        margin-top: 5px;
    }   
} */

/* end of search box */




.main-container{
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 7px;
}

.subforum{
    margin-top: 20px;
}

.subforum-title{
    background-color:#0AAAA0;
    padding: 5px;
    border-radius: 5px;
    margin: 4px; 
}

.subforum-title h1{
    font-size:x-large;
    margin-bottom: 0;
}

.subforum-description{
    margin-block: 0;
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding-left: 15px;
    line-height: 1.2;
}


.subforum-description h1 a{
    color:whitesmoke;
    font-size: 1.2rem;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    margin: 4px;
    border-radius: 5px;
    background-color: #66BFBF;
    font-weight: 600;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 17px;
}

.subforum-divider{
    display: none;
}
.subforum-info{
    padding: 11px;
}
.subforum-info a{
    color: #E0E0E0;
}


/* for responsive */


/* @media screen and (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        max-width: 1720px;
    }
} */

/* for mobile */


@media (max-width: 460px) {
    .main-container{
        /* margin: 10px; */
        /* padding: 10px; */
        display: flex;
        /* grid-template-rows: 1fr 1fr; */
        flex-direction: column;
    }

    .subforum-row{
        font-size: 16px;
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 1fr 0fr;
    }

    .subforum-description{
        overflow: scroll;
    }

    .subforum-stats{
        font-size: 14px;
    }

    .subforum-divider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190,190,190,0), rgba(255,255,255,0.75), rgba(190,190,190,0));
    }


    
}

@media screen and (max-width: 350px){
    
}
/* for tablets */
@media screen and (min-width:460px) and (max-width: 1024px) {
    
    .main-container{
        margin: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;

    }
    .subforum-row{
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 1fr 0.4fr;
    }

    .subforum-icon i{
        font-size: 15px;
    }

    html{
        font-size: 13px;
    }
    h1{
        font-size: 16px;
    }
    .subforum-divider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190,190,190,0), rgba(255,255,255,0.75), rgba(190,190,190,0));
    }
}

/* end of for responsive */

/* forum info footer */

.forum-info{
    padding: 20px;
    margin: 5px;
    background-color:#66BFBF;
}

.forum-info span{
    display: block;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(81, 115, 118);
    color: white;
    font-size: 16px;
    padding: 10px;
}


/* end of forum info footer */


/* accordian */
.FAQ-title .heading{
    display: flex;
    justify-content: center;
    margin: 20px;
}
section {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .accordion-container{
    width: 30%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .accordion-item{
    background-color:#66BFBF;
    border-radius: .4rem;
  }
  
  .accordion-item hr{
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  
  .accordion-link{
    color: rgba(255,255,255,.8);
    text-decoration: none;
    background-color:#0AAAA0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .accordion-link h1{
    font-weight:870;
    font-size: 1.26rem;
  }
  
  .accordion-link i{
    color: #e7d5ff;
    padding: .5rem;
    
  }
  
  .accordion-link ul{
    display:flex;
    align-items: flex-end;
    list-style-type: none;
    margin-left: 25px;
  }
  
  .accordion-link li{
    font-size: 19px;
    color: rgba(255, 255, 255, 0.4);
    padding: 0 0 1px 5px;
  }
  
  .accordion-link div{
    display: flex;
  }
  
  .accordion-link .ion-md-arrow-down{
    display: none;
  }
  
  .answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color:#2c2c2c;
    transition: max-height 650ms;
  }
  
  
  
  .answer p{
    color: #fff;
    font-size: 1.18rem;
    padding: 1rem;
    
  }
  
  .accordion-item:target .answer{
    max-height: 20rem;
  }
  
  .accordion-item:target .accordion-link .ion-md-arrow-forward{
    display: none
  }
  
  .accordion-item:target .accordion-link .ion-md-arrow-down{
    display: block;
  }

  .accordion-link :hover{
    color: black;
  }
/* end 0f accordian */


/* page footer */

footer{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 40px;
    
}


footer .right-content{
    margin-left: 31%;
}

/* end of page footer */

/* end of home page */





/* ################################
#########  POST PAGE  ############
################################## */




/* pagination */

.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 13px;
}

.navigate span a{
    color: black;
    /* font-size: 17px; */
}

.navigate a:hover{
    color:#0AAAA0;
    font-weight: bolder;
}
/* pagination */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color:#0AAAA0;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 75%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 20%;
}


/* table body */

.table-row{
    display: flex;
}

.table-row .status i{
    font-size: 20px;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color:#66BFBF;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 75%;
}

.table-row .subjects a{
    color:#2c2c2c;
}
.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 20%;
}

/* pagination */
.pagination{
    padding: 20px;
    font-size: 12px;
}

.pagination a{
    font-size: 08px;
    color: black;
    margin-inline: 2.8px;
    padding: 5px 10px;
    border: solid #ccc 0.5px;
}

.pagination a:hover{
    opacity: 0.5;
}
/* end of pagination */

/* end of table body */



/* ################################
###### END OF POST PAGE  #########
################################## */





/* ################################
#########  DETAIL PAGE  ############
################################## */

.author-container{
    display: flex;
}

.author-details{
    width: 20%;
    /* background-color: red; */
    margin-left: 10%;
    padding-left: 10px;
}

.author-post-topic{
    width: 50%;
}

.author-post-topic .comment{
    float: right;
    float: rig;
}

.about-author img{
    max-width: 50px;
    max-height: 80px;
}

.author-post-topic .comment button{
    border: black 1.2px solid;
    padding: 07px;
    font-size: 13px;
    border-radius: 06px;
    cursor: pointer;
    color:#0AAAA0;
    background-color: #fff;
    cursor: pointer;
    float: right;
}

.author-post-topic .comment button:hover{
    border: dotted 1px #0AAAA0;
    color: black;
    background-color: #66BFBF;
}

/* comment input area */

.comment-area{
    margin-top: 10px;
    /* background-color: blueviolet; */
    display: none;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
    font-size: 1.4rem;
}



.comment-area input{
    border: black 1.2px solid;
    padding: 07px;
    font-size: 13px;
    border-radius: 06px;
    cursor: pointer;
    color:#0AAAA0;
    background-color: #fff;
    cursor: pointer;
    float: right;
}

.comment-area input:hover{
    border: dotted 1px #0AAAA0;
    color: black;
    background-color: #66BFBF;
}

/* end of comment input area */


/* ################################
####  END OF DETAIL PAGE  #######
################################## */