body{
    background: -webkit-linear-gradient(right, #0AAAA0, #0e3331);
}

/* header */


.header{
    display: flex;
    justify-content: end;
    padding-right: 17px;
}
/* end of header */

.contact-form{
    background: #fff;
    margin-top: 05%;
    margin-bottom: 5%;
    width: 80%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 6%;
    margin-top: -13%;
    text-align: center;
    text-transform: capitalize;
    color: black;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background:#0AAAA0;
    background-color: #0AAAA0;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}


.textAreaBox .form-group{
    box-shadow: 0 0 2px 1px #0e3331;
}

.contact-form .btnContact:hover{
    opacity: 0.8;
}